<div id="<%= dom_id exercise_routine %>">
  <p>
    <strong>Name:</strong>
    <%= exercise_routine.name %>
  </p>

  <p>
    <strong>Days per week:</strong>
    <%= exercise_routine.days_per_week %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= exercise_routine.description %>
  </p>

</div>
