<h1>Editing exercise routine</h1>

<%= render "form", exercise_routine: @exercise_routine %>

<br>

<div>
  <%= link_to "Show this exercise routine", @exercise_routine %> |
  <%= link_to "Back to exercise routines", exercise_routines_path %>
</div>
