<h1>Editing fitness goal</h1>

<%= render "form", fitness_goal: @fitness_goal %>

<br>

<div>
  <%= link_to "Show this fitness goal", @fitness_goal %> |
  <%= link_to "Back to fitness goals", fitness_goals_path %>
</div>
