<div id="<%= dom_id health_metric %>">
  <p>
    <strong>Name:</strong>
    <%= health_metric.name %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= health_metric.value %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= health_metric.members_id %>
  </p>

</div>
