<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Max occupancy:</strong>
    <%= room.max_occupancy %>
  </p>

  <p>
    <strong>Is booked:</strong>
    <%= room.is_booked %>
  </p>

</div>
