<h1>Editing room booking</h1>

<%= render "form", room_booking: @room_booking %>

<br>

<div>
  <%= link_to "Show this room booking", @room_booking %> |
  <%= link_to "Back to room bookings", room_bookings_path %>
</div>
