<h1>Editing group class</h1>

<%= render "form", group_class: @group_class %>

<br>

<div>
  <%= link_to "Show this group class", @group_class %> |
  <%= link_to "Back to group classes", group_classes_path %>
</div>
