<h1>Editing personal training session</h1>

<%= render "form", personal_training_session: @personal_training_session %>

<br>

<div>
  <%= link_to "Show this personal training session", @personal_training_session %> |
  <%= link_to "Back to personal training sessions", personal_training_sessions_path %>
</div>
