<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Sets:</strong>
    <%= exercise.sets %>
  </p>

  <p>
    <strong>Reps per set:</strong>
    <%= exercise.reps_per_set %>
  </p>

</div>
